<div class="container">
  <h1>Trending TvShows</h1>
  <div class="row">

    <div *ngFor="let x of tvShows" class="col-md-2">
<button>
      <img src="https://image.tmdb.org/t/p/original/{{x.poster_path}}" class="w-100">
      <p>{{x.name }}</p></button>
    </div>

    <nav aria-label="Page navigation example bg-light">
        <ul class="pagination">
          <li (click)='getTrvShowsItems(1)' class="page-item"><a class="page-link">1</a></li>
          <li (click)="getTrvShowsItems(2)" class="page-item"><a class="page-link">2</a></li>
          <li (click)="getTrvShowsItems(3)" class="page-item"><a class="page-link">3</a></li>
          <li (click)="getTrvShowsItems(4)" class="page-item"><a class="page-link">Next</a></li>
        </ul>
      </nav>

  </div>

</div>
