<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="container p-3">
  <h1>Trending Movies</h1>
  <div class="row">
    <div *ngFor="let x of trendingMovies" class="col-md-2 my-2" >
      <button routerLink="/details/{{x.id}}">
      <img src="https://image.tmdb.org/t/p/original/{{x.poster_path}}" class="w-100">
      <p>{{x.title}}</p>


</button>
</div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li (click)='getTrindingItems(1)' class="page-item"><a class="page-link">1</a></li>
        <li (click)="getTrindingItems(2)" class="page-item"><a class="page-link">2</a></li>
        <li (click)="getTrindingItems(3)" class="page-item"><a class="page-link">3</a></li>
        <li (click)="getTrindingItems(4)" class="page-item"><a class="page-link">Next</a></li>
      </ul>
    </nav>
  </div>
</div>
<br>
<div class="container">
  <h1>Trending TvShows</h1>
  <div class="row">
    <div *ngFor="let x of trendindTv" class="col-md-2">
      <img src="https://image.tmdb.org/t/p/original/{{x.poster_path}}" class="w-100">
      <p>{{x.name }}</p>
    </div>
  </div>
</div>
